.container {
    font-family: Calibri, sans-serif;
    width: 1100px;
    height: 1440px;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0 0 18px 0 grey;
}

.navbar a {
    width: 110px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    color: #519646;
    text-transform: uppercase;
    font-weight: bold;


}


.navbar ul{
    margin: 0;
    text-align: right;
    padding-bottom: 13px;
    padding-right: 30px;
    box-shadow: 0 0 18px 0 grey;

}

.navbar li {
    display: inline-block;
    padding-top: 13px;

}
body {
    background-color: #f2f2f2;
    margin: auto;
}

h1 {
    margin-top: 0;
    text-align: center;

}